<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Within this file, we set HTTPBaseAddress to empty, because this WCF service is
		hosted inside a web server and we will use the web server default address as the
		service address-->
		<add key="HTTPBaseAddress" value=""/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service
			name="MyWCFServices.HelloWorldService"
			behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint
				address=""
				binding="wsHttpBinding"
				contract="MyWCFServices.IHelloWorldService"/>
				<endpoint
				contract="IMetadataExchange"
				binding="mexHttpBinding"
				address="mex" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors" >
					<serviceMetadata httpGetEnabled="true" /> <!--Enables metadata exchange for the service with the clients-->
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>