<?xml version="1.0"?>
<configuration>
	<connectionStrings configSource="connections.config" />
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyWCF.EasyNorthwind.ServiceImplementation.ProductService_Behavior"
        name="MyWCF.EasyNorthwind.ServiceImplementation.ProductService">
        <endpoint address="" binding="basicHttpBinding" name="ProductEndpoint"
          bindingNamespace="http://EasyNorthwind.Model/2014/ProductService"
          contract="MyWCF.EasyNorthwind.ServiceContracts.IProductServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MyWCF.EasyNorthwind.ServiceImplementation.ProductService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
    
</configuration>
